<div class="container py-5" >
  <h1 class="heading">WORK STATUS FORM</h1>
  <img src="../assets/images/logow.jpg"  style="height: 100px;width: 100px;" />
  <div class="row">
      <div class="col-md-10 mx-auto" >
          <form  [formGroup]="workstatusForm" (ngSubmit)="onSubmit()">
            <table class="table table-danger" formArrayName="workstatus" >
              <tr *ngFor="let workstate of works().controls; let i=index" [formGroupName]="i">
              <div class="form-group row">
                  <div class="col-sm-1">
                      <label for="inputSno">Sno</label>
                      <input type="number" class="form-control" id="snoid" formControlName="sno" >
                  </div>
                  <div class="col-sm-2">
                      <label for="inputDeveloper">Name</label>
                      <input type="text" class="form-control" formControlName="developer" id="developerid" placeholder="Enter Developer name">
                  </div>
                  <div class="col-sm-3">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control"formControlName="title" id="titleid" placeholder="Enter title">
                  </div>
                  <div class="col-sm-3">
                  <label for="inputDate">Date</label>
                  <input type="date" class="form-control" id="dateid" formControlName="date">
                  </div>
                  <div class="col-sm-3">
                  <label for="inputHours">Hours</label>
                  <input type="number" class="form-control" id="hoursid" formControlName="hours">
                 </div>
                 </div>
                 <div class="form-group row">
                 <div class="col-sm-3">
                      <label for="inputStatus">Status</label>
                      <select formControlName="status" id="statusid" class="form-control" >
                        <option value="">--Choose a Status--</option>
                        <option value="Process">Process</option>
                        <option value="Pending">Pending</option>
                        <option value="Completed"> Completed</option>
                        <option value="Notstarted"> Not Started</option>
                
                    </select>
                  </div>
                  <div class="col-sm-3">
                      <label for="inputAssignee">Assignee</label>
                      <select formControlName="assignee" id="assigneeid" class="form-control">
                        <option value="">--Choose a Assignee--</option>
                        <option value="Ram">Rams</option>
                        <option value="Ravi">Ravi</option>
                        <option value="Arun">Arun</option>
                        <option value="Karthi">Karthi</option>
                        <option value="Siva">Siva</option>
                        <option value="Mathan">Mathan</option>
                        <option value="Prabha">Prabha</option>
                        <option value="Nothing">------</option>
                      
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="inputReporter">Reporter</label>
                    <select formControlName="reporter" id="reporterid" class="form-control">
                      <option value="">--Choose a Reporter--</option>
                      <option value="Ram">Rams</option>
                      <option value="Ravi">Ravi</option>
                      <option value="Arun">Arun</option>
                      <option value="Karthi">Karthi</option>
                      <option value="Siva">Siva</option>
                      <option value="Mathan">Mathan</option>
                      <option value="Prabha">Prabha</option>
                      <option value="Nothing">------</option>
                    
                   </select>
                  </div>
                  <div class="col-sm-3">
                  <label for="inputDefects">Defects</label>
                  <select formControlName="defects"  id="defectsid" class="form-control">
                    <option value="">--Choose Defects--</option>
                    <option value="Minor">Minor</option>
                    <option value="Major">Major</option>
                    <option value="Critical">Critical</option>
                    <option value="Showstopper">ShowsTopper</option>
                    <option value="Nothing">------</option>
                  
                  </select>
                 </div>
                 </div>
                 <div class="form-group row">
                 <div class="col-sm-12">
                  <label for="inputCity">Descriptions</label>
                  <textarea type="text" class="form-control" formControlName="descriptions" id="descriptionsid" placeholder="Enter descriptions"></textarea>
                 </div>
                 </div>
              <!-- <button (click)="removeRow(i)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>               -->
            </tr>
            
             
          </table>
          <button type="button" (click)="addRow()" [disabled]="click" class="btn btn-primary"><i class="fas fa-plus"></i>Add</button>
          <button type="submit" class="btn btn-success" (click)="save()" >Save</button>
          <button type="reset" class="btn btn-success" (click)="next()" >Next</button>
               
              
          </form>
          <table class="table table-striped table-bordered" id="show">  
            <thead class="thead-dark">    
                <tr >    
                  <th>SNO</th>    
                  <th>Name</th>    
                  <th>Title</th>   
                  <th>Date</th>    
                  <th>Hours</th>   
                  <th>Status</th>    
                  <th>Assignee</th>    
                  <th>Reporter</th> 
                  <th>Defects</th>   
                  <th>Descriptions</th>  
                </tr>    
            </thead>   
        
        </table>  
        <button type="submit" (click)="exportexcel()" class="btn btn-success">ExportToExcel</button> 
      </div>

  </div>

 <!-- {{this.workstatusForm.value | json}} -->
</div>
 